.p--container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.m--container {
  margin: 0 1rem;
  max-width: calc(1200px - 2rem);
}

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.unstyled li {
  margin: 0;
}