.p--container {
  padding: 0 calc((100vw - 1200px)/2);
}

header.p--container {
  padding: 0 calc((100vw - 1200px - 1rem)/2);
}

@media (max-width: calc(1200px + 3rem)) {
  .p--container {
    padding: 0 1.5rem;
  }

  header.p--container {
    padding: 0 1rem;
  }
}

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.unstyled li {
  margin: 0;
}